// Colors
$color-white: #fff;
$color-grey: #424242;
$color-very-light-grey:#eee;
$color-black: #000;
$color-blue: #003366;
$color-blue-light: #004386;
$color-blue-very-light: #006fdf;

$color-main-dark: #1b1b1b;
$color-main-light: #606060;
$color-main-very-light: #8f8f8f;

$color-main-blue: #003366;
$color-main-gold: #FFD700;
$color-main-gold-dark: #FFC107;

$color-bright-theme: #fff;
$color-dark-theme: #606060;

$color-blue-lists: #add8e6;
$color-blue-dark-lists: #93bbc9;
$color-orange-lists: #fa8072;
$color-orange-dark-lists: #ff5e4c;
$color-grey-lists: #d3d3d3;
$color-grey-dark-lists: #b6b6b6;

// Font
$font-size-xxs: 1.2rem;
$font-size-xs: 1.5rem;
$font-size-s: 2rem;
$font-size-m: 3rem;
$font-size-l: 4.5rem;
$font-size-xl: 6rem;
$font-size-xxl: 9rem;
$font-size-xxxl: 12rem;

$main-font-Roboto: "Roboto", sans-serif;

