.admin{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    
    font-size: $font-size-xs;
    
    overflow: hidden;
    
    &__left, &__right {
        height: 90vh;
        padding: 5rem 10rem;
    }
    
    &__right {
        .active {
            display: grid;
        }
    }

    &__form {
        display: grid;
        grid-template-rows: 4.5rem 1fr;
        gap: 1rem;
        
        height: 100%;
        overflow: hidden;
    }

    &__buttons-box {
        display: flex;
        justify-content: space-between;
        margin: 0 2rem;

        .button--admin-page {
            width: 30%;
        }
    }

    &__form-content {
        padding: 0 1rem;
        overflow: auto;
    }

}
