.coord-changer {
    display: grid;
    grid-template-columns: 65rem 1fr;
    margin: 0 10rem;
    height: 80vh;
    overflow: hidden;
    
    @media only screen and (max-width: $bp-largest) {
        margin: 0;
    }
    
    @media only screen and (max-width: $bp-large) {
        grid-template-columns: 1fr;
        overflow: auto;
    }

    &__calculations {
        height: 80vh;
        display: grid;
        grid-template-rows: 10% 20% 1fr;
        overflow: auto;
        
        margin: 4rem;
        
        @media only screen and (max-width: $bp-small) {
            overflow: unset;
            margin: 2rem;
            grid-template-rows: 10% 30% 1fr;
        }

        &__title {
            display: flex;
            justify-content: center;

            @media only screen and (max-width: $bp-small) {
                align-items: center;
            }
        }

        &__customersCoords {
            display: grid;
            grid-template-rows: 30% 20% 30%;
            gap: 10%;

            font-size: $font-size-xs;
        }

        &__description {
            display: flex;
            align-items: center;
            text-align: center;

            font-weight: 300;
        }

        &__coord-field{
            display: flex;
            justify-content: space-between;

            input{
                width: 40%;
            }
        }
    }

    &__explanations{
        height: fit-content;
        overflow-y: auto;
        padding-left: 8rem;

        margin: 1rem;
        padding: 2rem;
        font-size: $font-size-xs;

        @media only screen and (max-width: $bp-small) {
            margin-top: 8rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            margin-top: 2rem;
        }

        &__description{
            display: flex;
            flex-direction: column;
            margin-left: 1rem;
            gap: 0.5rem;

            font-weight: 300;
            text-align: justify;

            @media only screen and (max-width: $bp-smallest) {
                font-size: $font-size-xxs;
            }
        }

        &__sample-coords{
            display: inline;
            
            span{
                margin-left: 1rem;
            }
        }
    }
}