@import '/resources/scss/layout/layouts-components/admin-header';

.admin-page {
    display: grid;
    grid-template-rows: 10vh 90vh;
    grid-template-areas:
        "header"
        "content";

    height: 100vh;

    .admin-header {
        grid-area: header;
    }

    .content {
        grid-area: content;
    }
}