.button {
    border: none;
    cursor: pointer;
    
    &--1{
        background-color: $color-blue;
        color: $color-white;
        font-size: $font-size-s;

        transition: color .3s ease;

        &:hover{
            color: $color-main-gold-dark;
        }
    }

    &--2{
        background-color: $color-main-dark;
        color: $color-white;
        font-size: $font-size-s;
        font-weight: 500;
        border-radius: 5px;

        transition: all .3s ease;

        &:hover{
            background-color: $color-main-gold-dark;
            color: $color-black;
        }
    }
}