.rounded-list, .rectangle-list {
    padding: 0;

    &__box {
        display: flex;
        align-items: center;
        margin: 1rem;
    }

    &__number {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        position: relative;
        display: flex;
        
        justify-content: space-between;
        align-items: center;

        flex-grow: 1;

        transition: all .3s ease;
    }

    &__buttons-box {
        display: flex;
        height: 100%;
        gap: 2rem;

        .delete {
            background-color: $color-dark-red-delete;
            color: $color-white;
            
            &:hover {
                background-color: $color-red-delete;
            }
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        
        height: 100%;
        padding: 0 1rem;
        
        border: none;
        text-decoration: none;
        color: inherit;

        transition: all .3s ease;
    }
}

.rounded-list {
    $size: $font-size-xs;
    font-size: $size;
    margin-left: $size*2;

    &__box {
        &:hover .rounded-list__number {
            background-color: $color-dark-hover-lists;
        }
        
        &:hover .rounded-list__title {
            background-color: $color-grey-hover-lists;
        }
    }

    &__number {
        height: $size*2.5;
        width: $size*2.5;
        margin-right: 1rem;
        z-index: 1;

        background-color: $color-dark-lists;
        border-radius: 50%;
    }

    &__title {
        height: $size*2.5;
        margin-left: -$size * 1.25 - 1rem;
        padding-left: $size*2.5;

        background-color: $color-grey-lists;

        &::before {
            content: '';
            position: absolute;
            height: $size*2.8;
            width: $size*2.8;
            left: -$size * 1.25;

            background-color: $color-white;
            border-radius: 50%;
        }
    }

    &__buttons-box {
        .edit {
            background-color: $color-dark-lists;
            
            &:hover {
                background-color: $color-dark-hover-lists;
            }
        }
    }
}

.rectangle-list {
    $size: $font-size-s;
    font-size: $size;

    &__number {
        height: $size*2.5;
        width: $size*2.5;
        margin-right: 0.5rem;

        color: $color-white;
        background-color: $color-light-lists;
    }

    &__title {
        height: $size*2.5;
        padding-left: $size;
        flex-grow: 1;
        background-color: $color-grey-lists;
    }

    &__buttons-box {
        .edit {
            background-color: $color-light-lists;
            color: $color-white;
            
            &:hover {
                background-color: $color-light-hover-lists;
            }
        }
    }
}