.title{
    &--s{
        font-size: $font-size-s;

        @media only screen and (max-width: $bp-smallest) {
            font-size: $font-size-xs;
        }
    }
    
    &--m{
        text-transform: uppercase;
        font-size: $font-size-m;
        font-weight: 600;
        
        @media only screen and (max-width: $bp-small) {
            font-size: $font-size-s-m;
        }

        @media only screen and (max-width: $bp-smallest) {
            font-size: $font-size-s;
        }
    }

    &--admin-form, &--admin-page {
        padding-bottom: 3rem;
        margin-bottom: 3rem;
        
        color: $color-grey;
        font-weight: 300;
        font-size: $font-size-l;
        
        border-bottom: 1px solid $color-grey;
    }
}