.admin-form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    width: 100%;
    height: 100%;
    
    
    &__card {
        display: flex;
        flex-direction: column;
        
        width: 45rem;
        padding: 3rem;
        
        border-radius: 15px;
        box-shadow: 0 0 10px rgba($color-black, 0.2);
        
        &--login {
            height: 50rem;
        }

        &--register{
            height: 62.5rem;
        }
    }

    &__title {
        padding-bottom: 3rem;
        margin-bottom: 3rem;
        
        color: $color-grey;
        font-weight: 300;
        font-size: $font-size-l;
        
        border-bottom: 1px solid $color-grey;
    }

    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        height: 100%;
        gap: 5%;
        
        font-size: $font-size-xs;
    }
    
    &__input {
        display: grid;
        grid-template-rows: $font-size-s 1fr;
        gap: 0.5rem;
        height: 100%;
        width: 100%;
        
        label, input {
            display: flex;
        }

        input {
            padding: 1rem;

            background-color: $color-very-light-grey;
            font-size: inherit;
            border: none;
            border-bottom: 2px solid $color-white;
    
            transition: all .3s ease;
    
            &:focus{
                outline: none;
                border-bottom: 2px solid $color-blue-light;
            }
        }
    }

    &__checkbox-remember{
        display: flex;
        justify-content: center;

        input {
            position: relative;
            width: 2rem;
            height: 2rem;

            appearance: none;
            
            border: 2px solid $color-blue-light; /* Kolor ramki */
            border-radius: 4px;
            outline: none;
            cursor: pointer;
            
            transition: background-color 0.3s, border-color 0.3s;

            &:checked {
                background-color: $color-blue-light; /* Kolor tła, gdy zaznaczone */

                &::after {
                    content: '✓';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    
                    font-size: $font-size-xs;
                    color: white;
                    
                    transform: translate(-50%, -50%);
                }
            }
        }
        
        label {
            margin-left: 1rem;
            font-size: 14px;
            color: #333;
            cursor: pointer;
        }
    }

    &__button {
        justify-self: center;
        width: 70%;
        height: 100%;

        color: $color-white;
        background-color: $color-main-light;
        
        font-size: $font-size-s;
        font-weight: 400;
        
        border-radius: 5px;
        border: none;
    }
}