.tutorials-show{
    display: grid;
    grid-template-columns: 1fr 96rem 1fr 5fr;
    grid-template-rows: 1fr 54rem 1fr;
    
    height: 100%;
    width: 100%;
    
    &__video-title{
        grid-row: 1;
        grid-column: 2;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }
    
    &__video-screen{
        position: relative;
        grid-row: 2;
        grid-column: 2;
    }
    
    &__video{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        cursor: pointer;
    }

    &__description{
        grid-row: 3;
        grid-column: 2;
        font-size: $font-size-s;
        text-align: justify;
        align-self: center;
    }

    &__video-hints{
        grid-row: 2;
        grid-column: 4;
        overflow-y: auto;
        overflow-x: hidden;
    }

    &__hint{
        font-size: $font-size-s;
        
        &__link{
            display: flex;
            align-items: center;
            padding: 0.7rem 0;

            color: $color-black;

            transition: all 0.3s ease;

            span{
                font-size: $font-size-xs;
                padding-right: 1rem;
            }

            &:hover{
                color: $color-main-gold-dark;
                transform: translateX(10px);
            }
        }
    }
}